<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abyandafa.rescueambulance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".CodeBlue.Locate.CodeBlue" />
        <activity android:name=".Notification.Notification" />
        <activity android:name=".CodeBlue.FollowUp.FollowUpActivity" />
        <activity android:name=".Review.ReviewActivity" />
        <activity android:name=".CodeBlue.Locate.MenujuLokasi" />
        <activity android:name=".Review.ReviewList" />
        <activity android:name=".Review.KeterlibatanAmbulan" />
        <activity android:name=".Report.PengaduanActivity"></activity>
    </application>

</manifest>